{% extends 'security/base_security.html.twig' %}

{% block title %}Se connecter{% endblock %}

{% block body %}
    <div class="auth-fluid">
        {% include "security/_left_content.html.twig" %}
        {% include "security/_right_content.html.twig" %}
    </div>
{% endblock %}

