<div class="card">
    <div class="card-body">
        <h5 class="mb-3 text-uppercase"><i class="mdi mdi-office-building me-1"></i>
            Actions
        </h5>
        <div>
            <a href="{{ path('admin_candidature_add',{'id': candidate.id}) }}" class="btn btn-primary"><i class="mdi mdi-email-send-outline me-1"></i>Envoyer une candidature</a>
        </div>
    </div>
</div>